.FormCadastrar {
    width: 30vw;
    height: 36vh;
    background-color: white;
    padding-left: 2vw;
    border-radius: 5px;
}

.Titles h1 {
    color: rgb(31, 31, 31);
}

.titlesForm {
    color: rgb(71, 71, 71);
}

.linkCadastrar {
    color: rgb(71, 71, 71);
}

.button {
    cursor: pointer;
}
