.modal {
    background-color: white;
    margin-left: -15.5vw;
    width: 20vw;
    height: 45vh;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.modal > h3 {
    font-size: 16px;
    color: rgb(130, 130, 130);
    margin-top: 3vh;
    margin-left: 1vw;
}

.bodyModal {
    margin-top: 2vh;
}

.bodyModal > .hrModal {
    width: 18vw;
    margin-left: 1vw;
}

.divImgModal {
    width: 5vw;
    height: 8vh;
    background-color: rgb(226, 227, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
}

.divImgModal > img {
    width: 3vw;
}

.informacoesPedido {
    margin-top: 3vh;
    display: flex;
}

.divInformacoesPedidoModal {
    width: 10vw;
    height: 8vh;
    margin-left: 1vw;
}

.divInformacoesPedidoModal > h3 {
    margin-left: 1vw;
    font-size: 12px;
}

.divPreco {
    display: flex;
    margin-left: 7.8vw;
    justify-content: space-around;
    width: 10vw;
    margin-top: 1vh;
    display: flex;
}

.precoPromocao{
    font-size: 14px;
    color: rgb(71, 71, 71);
}

.preco{
    font-size: 10px;
    color: rgb(204, 204, 204);
    text-decoration: line-through;
}

.bodyModal > .hrModalBottom {
    width: 18vw;
    margin-left: 1vw;
    margin-top: 3vh;
}

.bottomModal {
    display: flex;
    flex-direction: column;
    width: 18vw ;
    height: 16vh;
    justify-content: space-around;
    margin-left: 1vw;
}

.bottomModal > .bottomModalTop {
    display: flex;
    gap: 6vw;
}

.bottomModalTop > h3 {
    font-size: 14px;
    color: rgb(31, 31, 31);
}

.bottomModalTop > .valorPreco{
    font-size: 14px;
    color: rgb(238, 66, 102);
}

.bottomModal > .bottomModalBottom {
    display: flex;
    gap: 5vw;
    align-items: center;
}

.bottomModalBottom > h2 {
    font-size: 14px;
    color: rgb(71, 71, 71);
    text-decoration: underline;
}

.btnVerCarrinho {
    width: 8vw;
    height: 6vh;
    background-color: rgb(201, 32, 113);
    border: none;
    border-radius: 5px;
    color: white;
}


