#item{
    height: 64px;
    width: 64px;
    cursor: pointer;
    display: inline-flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 4px 25px 0px rgba(138, 137, 137, 0.164);
  }
  .label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }
  .label > label {
    color: #474747;
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
  }