.modalEdit{
    color: white;
    height: 100%;
    width: 65vw;
    position: absolute;
    background-color: rgba(219, 219, 219, 0.5);
    z-index: 2;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}